<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css"> 
    </head>
    <body>
<h1>État des espèces menacées dans le monde</h1>

<% if(pays.length > 0){ %>
<select id="pays" name="pays">
  <% pays.forEach(function(p) { %>
    <option value="<%= p.id %>"><%= p.name %></option>
  <% }); %>
</select>

<h2>Les espèces menacées dans le pays sélectionné</h2>

<ul id="species">
</ul>


Les données de protection viennent de<br/>
IUCN 2024. IUCN Red List of Threatened Species. Version 2024-2 <www.iucnredlist.org> 
<% } else { %>
    La liste des pays est en cours de chargement.
    La page va se recharger dans une seconde
    <script>
        response.setIntHeader("Refresh", 1);
    </script>
<% } %>
<script>
  const userLang = navigator.language || navigator.userLanguage; 
  const mappingToRedListLanguages = {"fr":"fre", "en":"eng", "es":"spa"}

  // Exemple de code JavaScript pour afficher la liste d'espèces
  document.addEventListener("DOMContentLoaded", function() {
    var selectPays = document.getElementById('pays');
    var listeEspeces = document.getElementById('species');

    selectPays.addEventListener('change', function() {
      listeEspeces.innerHTML = '';
      // Récupérer l'ID du pays sélectionné et afficher les espèces correspondantes
      var idPays = selectPays.value;
      fetch('/get-species-for/' + idPays)
        .then(response => response.json())
        .then(data => {
          data
            .map(function(e) {
                const c = e.common_names[mappingToRedListLanguages[userLang]]
                return {
                    is_latin_name: c==undefined,
                    name: c==undefined ? e.latin_name : c,
                    status: e.status,
                    year: e.year
                }
            })
            .toSorted((a, b) => a.name.localeCompare(b.name))
            .forEach(function(e) {
            var li = document.createElement('LI');
            if(e.is_latin_name) {
                li.innerHTML = `<i>${e.name}</i> - ${e.status} (depuis ${e.year})`;
            } else {
                li.innerHTML = `${e.name} - ${e.status} (depuis ${e.year})`;
            }
            listeEspeces.appendChild(li);
          });
        })
        .catch(error => console.error(error));
    });

  });
</script>
</body>
</html>